* {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: .3px;
}

body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.container {
    max-width: 73.1rem;
    margin: 0 auto;
}