.servicesHeader {
    color: #333;
    text-align: center;
    padding: 2rem 0;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
}

.service {
    background: #fff;
    color: #333;
    height: 24rem;
    width: 20rem;
    margin: 0 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: .35rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    padding: 2rem;
}

.service h1 {
    font-size: 2.5rem;
    font-family: 'Montserrat Subrayada';
    font-weight: 300;
}

.business h1 {
    color:#33adff;
}

.personal h1 {
    color: #77d499;
}

.service ul {
    padding: 0;
}