.App {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 69%;
  border: none;
  padding: 10px;
  box-shadow: 0 1.5px 2px rgba(0,0,0,0.5);
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  box-shadow: .5px 1.5px 2px rgba(0,0,0,0.5);
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipes div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.recipes div ol {
  padding: 0;
}

.recipes div li {
  list-style: none;
}