.todoItem {
    background: #f4f4f4;
    padding: 1rem;
    border-bottom: .1rem #ccc dotted;
    display: flex;
    justify-content: space-between;
}

.todoItem:nth-last-child(1) {
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
    padding: 1rem 1rem 1.5rem 1rem !important;
  }

.todoName {
    display: flex;
    align-items: center;
    position: relative;
}

.btnRadio {
    margin-right: 1rem;
    padding: 0 0 2rem 0;
}

.btnDeleteItem {
    background: crimson;
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: .35rem;
    cursor: pointer;
    font-size: 1.1rem;
}

.btnDeleteItem:hover {
    background: #f2204a;
}