.sectionAbout {
    color: #333;
    background: #fff;
    padding: 3.5rem 0;
    box-shadow: 0 -1px 1px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.1);
}

.flex {
    display: flex;
}

.aboutContents {
    width: 60%;
    line-height: 2rem;
}

.aboutContents h1 {
    font-size: 2.5rem;
}

img {
    width: 38rem;
}

